<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Benificiary</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        Hello User!, Welcome to Benificiary Profile
      </h1>
      </div>
    </div>
  </section>
  <form id="beneficiaryForm">
    <div class="columns">
      <div class="column">
        <div class="control input-spacing">
          <label for="insuredName">Name of Insured</label>
          <input class="input is-medium" id="insuredName" name="insured_name" value="<%=doc.hospital[0].insured_name%>" type="text" placeholder="name" disabled>
        </div>
        <div class="control input-spacing">
          <label for="benificiaryName">Benificiary Name</label>
          <input class="input is-medium" name="beneficiary_name" id="benificiaryName" type="text">
        </div>
        <div class="control input-spacing">
          <label for="Funeralloc">Funeral Location</label>
          <input class="input is-medium" name="funeral_location" id="Funeralloc" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="ssn">SSN</label>
          <input class="input is-medium" name="ssn" id="ssn" value="<%=doc.hospital[0].ssn%>" type="text" disabled>
        </div>
        <div class="control input-spacing">
          <label for="relation">Relation</label>
          <input class="input is-medium" name="relation" id="relation" type="text">
        </div>
        <div class="control input-spacing">
          <label for="FuneralDate">Funeral Date</label>
          <input class="input is-medium" name="funeral_date" id="FuneralDate" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="policyNumber">Policy Number</label>
          <input class="input is-medium" name="policy_number" id="policyNumber" value="<%=doc.hospital[0].adress2%>" type="text" disabled>
        </div>
        <div class="control input-spacing">
          <label for="benificiarySSN">SSN</label>
          <input class="input is-medium" name="beneficiary_ssn" id="benificiarySSN" type="text">
        </div>
        <div class="control input-spacing">
          <label for="Funeraltime">Funeral Time</label>
          <input class="input is-medium" name="funeral_time" id="Funeraltime" type="text">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="cause">Cause of Death</label>
          <input class="input is-medium" name="cause" id="cause" value="<%=doc.hospital[0].cause%>"  type="text" disabled>
        </div>
        <div class="control input-spacing">
          <label for="bankDetails">Bank Details</label>
          <input class="input is-medium" name="bank_details" id="bankDetails" type="text">
        </div>
      </div>
    </div>
    <div class='card-content is-flex is-horizontal-center'>
      <button type="submit" class="button is-black is-medium">Submit</button>
      <a class="button is-black is-medium" href="/ssn" style="margin-left:40px">Next</a>


    </div>
  </form>
  <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
  <div class="tile is-child notification is-bitcoin ">
  <p class="title">Hospital</p>
  <hr>
  <p><strong>Transaction Id: <span id="txnid"> <%=doc.txnid%><span /></strong></p>
  <hr>
  <p id="resPatientId">patientid: <%=doc.hospital[0].patient_id%></p>
  <p id="resPatientName">patient name: <%=doc.hospital[0].insured_name%></p>
  <p id="resDOB">dob: <%=doc.hospital[0].birth_date%></p>
  <p id="resGender">gender: <%=doc.hospital[0].gender%></p>
  <p id="resAddress1">address: <%=doc.hospital[0].adress_1%></p>
  <p id="resAddress2">policyno: <%=doc.hospital[0].adress2%></p>
  <p id="resState">state: <%=doc.hospital[0].state%></p>
  <p id="resZipCode">zipcode: <%=doc.hospital[0].zipcode%></p>
  <p id="resSSN">ssn: <%=doc.hospital[0].ssn%></p>
  <p id="resDeathDate">deathdate: <%=doc.hospital[0].death_date%></p>
  <p id="resTimeOfDeath">timeofdeath: <%=doc.hospital[0].death_time%></p>
  <p id="resCause">cause: <%=doc.hospital[0].cause%></p>
  <p id="resDoctor">doctor: <%=doc.hospital[0].doctor%></p>
  <p id="resDocReg">doctorregno: <%=doc.hospital[0].doctor_number%></p>
  <p id="resDeathDate">deathdateapproval: <%=doc.hospital[0].death_approval%></p>
  <p id="resTimeApproval">deathtimeapproval: <%=doc.hospital[0].death_time_approval%></p>
  </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
<div class="tile is-child notification is-ripple">
<p class="title">Ripple(Network Price)</p>
<p><strong>Price (INR) : &#x20b9; <span id="xrpvalueinr">75.68</span></strong></p>
<p><strong>Price (USD) : $ <span id="xrpvalueusd">1.18</span></strong></p>
<p>Percentage Change (1h) : <span id="xrp1hchangered" class="tag is-danger">-1.72 %</span></p>
<p>Percentage Change (24h) : <span id="xrp24hchangegreen" class="tag is-success">+3.52 %</span></p>
<p>Available Supply : <span id="xrpavail">39,009,215,838.00</span> XRP </p>
<p>Total Supply : <span id="xrptotal">99,992,725,510.00</span> XRP </p>
<p>Maximum Supply : <span id="xrpmax">100,000,000,000.00</span> XRP </p>
<p>Market Cap (INR) : &#x20b9; <span id="xrpcap">2,952,122,545,198.00</span> </p>
<p>24h Volume (INR) : &#x20b9; <span id="xrpday">66,638,498,800.00</span> </p>
<p>Last Updated : <span id="xrptime">17th February 2018, 20:29</span> IST </p>
<hr>
<p class="title">BtcxIndia Price</p>
<div id="loader" class="help"></div>
<p> <strong> Price : &#x20b9;<span id="btcxvalueinr"> </span></strong>
<p>Last Traded Price : &#x20b9; <span id="btcxtrade"></span> </p>
<p>Total Volume (24h) : <span id="btcxvol"></span> XRP</p>
</p>
</div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$("#beneficiaryForm").submit(function(e) {
  var serializeData = $("#beneficiaryForm").serialize();
  $('input[disabled]').each( function() {
             serializeData = serializeData + '&' + $(this).attr('name') + '=' + $(this).val();
         });
      $.ajax({
         type: "POST",
         url: '/bentransaction',
         data: serializeData, // serializes the form's elements.
         success: function(data)
         {
             document.getElementById('resTxnId').innerHTML = 'Transaction ID : ' + data.id;
             document.getElementById('resPatientId').innerHTML = 'Patient ID : ' + data.asset.data.patient_id.patient_id;
             document.getElementById('resPatientName').innerHTML = 'Address 1 : ' + data.asset.data.patient_id.adress_1;
             document.getElementById('resDOB').innerHTML = 'SSN : ' + data.asset.data.patient_id.ssn;
             document.getElementById('resGender').innerHTML = 'Doctor : ' + data.asset.data.patient_id.doctor;
             document.getElementById('resAddress1').innerHTML = 'ID : ' + data.asset.data.patient_id.insured_name;
             document.getElementById('resAddress2').innerHTML = 'ID : ' + data.asset.data.patient_id.adress2;
             document.getElementById('resState').innerHTML = 'ID : ' + data.asset.data.patient_id.death_date;
             document.getElementById('resZipCode').innerHTML = 'ID : ' + data.asset.data.patient_id.doctor_number;
             document.getElementById('resSSN').innerHTML = 'ID : ' + data.asset.data.patient_id.birth_date;
             document.getElementById('resDeathDate').innerHTML = 'ID : ' + data.asset.data.patient_id.state;
             document.getElementById('resTimeOfDeath').innerHTML = 'ID : ' + data.asset.data.patient_id.death_time;
             document.getElementById('resCause').innerHTML = 'ID : ' + data.asset.data.patient_id.death_approval;
             document.getElementById('resDoctor').innerHTML = 'ID : ' + data.asset.data.patient_id.zipcode;
             document.getElementById('resDocReg').innerHTML = 'ID : ' + data.asset.data.patient_id.cause;
             document.getElementById('resDeathDate').innerHTML = 'ID : ' + data.asset.data.patient_id.death_time_approval;


             document.getElementById('blockShow').style.visibility = 'visible';
         }
       });

  e.preventDefault();
});
</script>



</html>
