<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Funeral Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        Home Department - Funeral Wing

      </h1>
      <h3 class="Sub title">
        Director Portal
      </h3>
      </div>
    </div>
  </section>
  <form id="funeralForm">
    <div class="columns">
      <div class="column">
        <div class="control input-spacing">
          <label for="insuredName">Deceased Name</label>
          <input class="input is-medium" id="insuredName" value="<%=doc.beneficiary[0].insured_name%>" type="text" placeholder="Name" disabled>
        </div>
        <div class="control input-spacing">
          <label for="Funeralhome">Funeral Home Selected</label>
          <input class="input is-medium" id="Funeralhome" value="<%=doc.beneficiary[0].funeral_location%>" type="text" disabled>
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="ssn">SSN</label>
          <input class="input is-medium" id="ssn" name="ssn" value="<%=doc.beneficiary[0].ssn%>" type="text" disabled>
        </div>
        <div class="control input-spacing">
          <label for="FuneralDate">Funeral Date</label>
          <input class="input is-medium" id="FuneralDate" value="<%=doc.beneficiary[0].funeral_date%>" type="text" disabled>
        </div>
        <div class="control input-spacing">
          <label for="Confirmation">Confirmation</label>
          <input class="input is-medium" name="confirmation" id="Confirmation" type="text" placeholder="Yes/No">
        </div>
      </div>
      <div class="column">
        <div class="control input-spacing">
          <label for="cause">Cause of Death</label>
          <input class="input is-medium" id="cause" value="<%=doc.beneficiary[0].cause%>" type="text" disabled>
        </div>
        <div class="control input-spacing">
          <label for="Funeraltime">Funeral Time</label>
          <input class="input is-medium" id="Funeraltime" value="<%=doc.beneficiary[0].funeral_time%>" type="text" disabled>
        </div>
      </div>
    </div>
    <div class='card-content is-flex is-horizontal-center'>
      <button type="submit" class="button is-black is-medium">Submit</button>
      <a class="button is-black is-medium" href="/ssn3" style="margin-left:40px">Next</a>


    </div>
  </form>

  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child notification is-bitcoin ">
        <p class="title">Hospital</p>
        <hr>
        <p><strong>Transaction Id: <span id="txnid"> <%=doc.txnid%><span /></strong></p>
        <hr>
        <p id="resPatientId">patientid:
          <%=doc.hospital[0].patient_id%>
        </p>
        <p id="resPatientName">patient name:
          <%=doc.hospital[0].insured_name%>
        </p>
        <p id="resDOB">dob:
          <%=doc.hospital[0].birth_date%>
        </p>
        <p id="resGender">gender:
          <%=doc.hospital[0].gender%>
        </p>
        <p id="resAddress1">address:
          <%=doc.hospital[0].adress_1%>
        </p>
        <p id="resAddress2">policyno:
          <%=doc.hospital[0].adress2%>
        </p>
        <p id="resState">state:
          <%=doc.hospital[0].state%>
        </p>
        <p id="resZipCode">zipcode:
          <%=doc.hospital[0].zipcode%>
        </p>
        <p id="resSSN">ssn:
          <%=doc.hospital[0].ssn%>
        </p>
        <p id="resDeathDate">deathdate:
          <%=doc.hospital[0].death_date%>
        </p>
        <p id="resTimeOfDeath">timeofdeath:
          <%=doc.hospital[0].death_time%>
        </p>
        <p id="resCause">cause:
          <%=doc.hospital[0].cause%>
        </p>
        <p id="resDoctor">doctor:
          <%=doc.hospital[0].doctor%>
        </p>
        <p id="resDocReg">doctorregno:
          <%=doc.hospital[0].doctor_number%>
        </p>
        <p id="resDeathDate">deathdateapproval:
          <%=doc.hospital[0].death_approval%>
        </p>
        <p id="resTimeApproval">deathtimeapproval:
          <%=doc.hospital[0].death_time_approval%>
        </p>
      </div>
    </div>
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child notification is-ripple" id="benBox" style="visibility:hidden">
        <p class="title">Beneficiary</p>
        <hr>
        <p id="name_insured1"></p>
        <p id="ssn11"></p>
        <p id="policy_number1"></p>
        <p id="cause_death1"></p>
        <p id="beneficiary_name1"></p>
        <p id="relation1"></p>
        <p id="ssn21"></p>
        <p id="bank_details1"></p>
        <p id="funeral_location1"></p>
        <p id="funeral_date1"></p>
        <p id="funeral_time1"></p>
      </div>
    </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$("#funeralForm").submit(function(e) {
  var serializeData = $("#funeralForm").serialize();
  $('input[disabled]').each( function() {
             serializeData = serializeData + '&' + $(this).attr('name') + '=' + $(this).val();
         });
      $.ajax({
         type: "POST",
         url: '/funeraltransaction',
         data: serializeData, // serializes the form's elements.
         success: function(data)
         {
           if(data === 'yes' || data ==='Yes' || data === 'YES'){
             alert('Funeral Home Accepted !')
           }
         }


       });

  e.preventDefault();
});
</script>


</html>
